<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Tada!!!</h1>
    <p>@ViewBag.MovieTitle </p>
    <p>@ViewBag.AllLanguages</p>
    <p><img src="@ViewBag.AllPictures" /></p>
    

</body>
</html>